@keyframes slideFromBottom {
    0% {
        visibility: visible;
        opacity: 0.3;
        transform: translateY(15px); //Deplacement sur axe Y
    }

    100% {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideMenus {
    0% {
        transform: translateY(50px); //Deplacement sur axe Y
    }

    100% {
        transform: translateY(0);
    }
}

//Caddie qui s'agite puis fonce vers la droite
@keyframes desktopShoppping {
    0% {
        transform: translateX(0px) rotate(10deg); //Deplacement sur axe Y
    }

    20% {
        transform: rotate(0deg); //Deplacement sur axe Y
    }

    40% {
        transform: rotate(10deg);
    }

    60% {
        transform: rotate(0deg); //Deplacement sur axe Y
    }

    80% {
        transform: rotate(10deg); //Deplacement sur axe Y
    }

    100% {
        transform: translateX(30px) rotate(0deg);
    }
}