#cover-images {
    width: 100%;

    img {
        min-width: 100%;
        height: 285px;
    }

}

//Responsive (transforme en background de fond)
@media (min-width: $sm) {
    #cover-images {
        img {
            position: absolute; //Se place par dessus
            min-width: 100%;
            height: calc(100% - 200px); //Pour ne pas deborder du footer
            transform: scale(1.05); //Evite les traces blanches du blur
            filter: blur(6px); //Effet de flou
        }
    }
}