#description {
    text-align: center;
    padding: 40px;
    position: relative;


    h1 {
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 20px;
    }

    span {
        display: block; //Ecrase le style par defaut
        padding-bottom: 20px;
    }

    a {
        margin: 10px;
    }

    @media (min-width: 860px) {
        text-align: left;

        h1 {
            padding-left: 0;
        }

        a {
            position: absolute;
            top: 0;
            right: 0;
            margin-top: 50px;
            margin-right: 10%;
        }
    }

}