@use "sass:map";

#fonctionnement {
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 20px;


}

#fonctionnement ul {
    padding-top: 30px;
    list-style: none;
    counter-reset: number;

    @media (min-width: 860px) {
        display: flex;
        justify-content: space-around;
    }

    li {
        padding-bottom: 25px;
        padding-top: 25px;
        padding-right: 35px;
        padding-left: 35px;
        margin-bottom: 20px;
        border-radius: 15px;
        background-color: map-get($theme-colors, "light");
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
        position: relative; //Necessaire pour placer le badge
        display: flex;
        counter-increment: number;

        i {
            color: grey;
        }

        span.badge {
            background-color: map-get($theme-colors, "primary");
            color: white;
            font-size: 14px;
            width: 25px;
            line-height: 25px;
            border-radius: 50%; //Faire un rond
            text-align: center;
            position: absolute;
            left: -12.5px; //Moitie de la largeurs

            //Ajoute automatiquement le numero
            &:nth-child(n)::before {
                content: counter(number);
            }
        }

        p {
            font-weight: bold;
            margin-left: 20px;
            font-size: 13px;

        }

        &.active {
            background-color: map-get($theme-colors, "primary-lighten");

            i {
                color: map-get($theme-colors, "primary");
            }
        }
    }


}