@use "sass:map";


main {
    //Marge de la taille du footer
    margin: 0;
    margin-bottom: $footer-height;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    height: $footer-height;
    background-color: map-get($theme-colors, "dark");
    color: white;
    padding: 25px;

    img {
        filter: invert(1); //Passer en blanc l'image
        width: 100px;
        margin-bottom: 18px;
    }

    div {
        padding-bottom: 15px; //Espacement entre les liens

        i {
            line-height: 14px;
            font-size: 14px;
            width: 14px;
            margin-right: 10px;
        }
    }
}

//Responsive
@media (min-width: $sm) {
    footer {
        display: flex;
        flex-wrap: wrap;
        place-content: space-around;

        img {
            flex-basis: 100%;
            min-width: 100%;
            height: 33%;
            margin: 0;
            object-fit: initial;
            order: -1; //Force a être le premier
        }

        div {
            margin: 0px;
            padding: 0;
            text-align: center;
            flex-basis: 50%;
            font-size: 18px;
        }
    }
}