@use "sass:map";

#localisation {
    height: 50px;
    background-color: map-get($theme-colors, "light-darken");
    display: flex;
    align-items: center;
    justify-content: center;
}

#localisation i {
    padding-right: 15px;
}