#menus {
    background-color: map-get($theme-colors, 'light');
    position: relative;
    top: -69px; //Place au dessus de l'image (50px d'animation + 35 de debordement)
    margin-bottom: -69px; //Pour placer le footer
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    padding: 20px;
    padding-top: 40px;
    //animation: slideMenus 0.5s; //Optionnel

    h1 {
        font-family: "Shrikhand";
        max-width: calc(100% - 50px); //Garde une marge de 50px à droite
    }

    i.like-button {
        &::after {
            background-color: map-get($theme-colors, "light"); //Pseudo cacher le background
        }

        margin-top: 40px; //Ajustement visuel
        margin-right:20px;
        line-height: 24px;
    }

    #actions {
        text-align: center; //Centre le bouton

        button {
            padding-right: 48px;
            padding-left: 48px;
            padding-top: 15px;
            padding-bottom: 15px;
            display: initial; //Pour permettre le centrage
        }
    }
}

#menus article {
    margin-top: 35px;

    h2 {
        text-transform: uppercase;
        margin-bottom: 16px;

        &:after {
            content: "";
            display: block;
            margin: 0;
            width: 40px;
            padding-top: 5px;
            border-bottom: 3px solid map-get($theme-colors, 'tertiary');
        }
    }

    div.repas {
        margin-bottom: 14px;
        background-color: white;
        border-radius: 15px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
        height: 68px;
        overflow: hidden; //Cache tout ce qui depasse

        //Fais apparaitre la checkbox
        &:hover {
            .checkbox {
                width: 60px;
                visibility: visible;

                i {
                    visibility: visible;

                    transform: rotate(360deg);
                }
            }

            .description {
                width: calc(100% - 60px);
            }
        }

        .description {
            transition: width 0.5s ease-in-out; //Suit la transition de la checkbox
            padding: 10px;
            padding-bottom: 10px;
            padding-right: 20px;
            width: 100%;
            position: relative;

            //Regle de truncate
            span,
            p:first-of-type {
                white-space: nowrap;
                overflow: hidden; //Transforme les caracters qui depassent en ...
                text-overflow: ellipsis;
            }

            //Nom + prix
            p {
                display: block;

                //Nom du plat
                &:first-of-type {
                    margin-top: 5px;
                    margin-bottom: 5px;
                    margin-right: 30px;
                }

                //Prix
                &.price {
                    position: absolute; //On place en bas a droite
                    bottom: 0;
                    right: 0;
                    margin-bottom: 15px;
                    margin-right: 20px;
                    color: map-get($theme-colors, 'dark');
                }

            }

            //Commentaire
            span {
                display: block;
                margin-right: 40px; //Marge pour truncate lors de l'animation
            }
        }

        .checkbox {
            width: 0; //Invisible par defaut
            visibility: hidden;
            transition: all 0.5s ease-in-out;
            background-color: map-get($theme-colors, 'tertiary');
            text-align: center;
            position: absolute; //Placer en haut a droite
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            top: 0;
            right: 0;
            cursor: pointer;
            height: 100%;

            i {
                visibility: hidden;
                transition: all 0.5s ease-in-out; //Transition de 0.5 sec
                color: white;
                font-size: 24px;
                line-height: 70px;
            }
        }
    }


}

//Animation d'apparition
div.repas {
    visibility: hidden; //Cacher par defaut

    animation-fill-mode: forwards; //Maintient l'etat en fin d'animation
    animation-name: slideFromBottom;
    animation-duration: 0.75s;


    &:nth-of-type(1) {
        animation-delay: 0.0s;
    }

    &:nth-of-type(2) {
        animation-delay: 0.2s;
    }

    &:nth-of-type(3) {
        animation-delay: 0.4s;
    }

    &:nth-of-type(4) {
        animation-delay: 0.6s;
    }
}

//Responsive medium
@media (min-width: $sm) {
    #menus {
        top: 0; //On replace dans sa position normale
        text-align: center;
        max-width: 355px;
        margin: auto; //Centrer horizontalement
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
        border-radius: 35px; //Radius sur tout les coins
        margin-top: 50px;
        margin-bottom: 50px;
    }

    #menus article {
        display: flex;
        flex-wrap: wrap;
        text-align: left;

        h2 {
            flex-basis: 100%; //Prend une ligne
            font-size: 18px; //On augmente un peu la police
        }

        div.repas {
            margin: 7px; //Meme marge que la marge bottom
            min-width: 310px;
            width: 20%;
            height: 100px;

            .description {
                height: 100%;

                span {
                    white-space: normal; //Permet le retour chariot
                    max-height: 35px;
                    overflow: visible;
                }

                .price {
                    display: block;
                }
            }

            .checkbox i {
                line-height: 100px;
            }

            &:hover .checkbox {
                width: 20%;
            }
        }
    }

}

//Reponsive large
@media (min-width:$md) {
    #menus {
        max-width: 690px;
        margin-top: 75px;
        margin-bottom: 75px;

        button {
            margin-top: 25px;
            text-transform: lowercase; //Retire la majuscule de "Commander"

            &::before {
                text-transform: none;
                content: "Valider et "; //Ajoute "Valider et " avant: "commander"
            }

            &::after {
                text-transform: none;
                font-family: "Font Awesome 5 Free";
                font-weight: 600; //Font awesome regular
                margin-left: 10px;
                content: "\f07a"; //Icone cadie
            }

            &:hover {
                &::after {
                    display: inline-block;
                    animation: desktopShoppping 1s forwards;
                }
            }
        }
    }
}

//Reponsive large
@media (min-width:$lg) {
    #menus {
        max-width: 1024px;
        margin-top: 100px;
        margin-bottom: 100px;
    }
}