header {
    height: 63px;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 100;
}

header figure {
    align-self: center;
    padding-top: 9px; //Ajustement de la hauteur
}

header figure img {
    max-width: 170px;
}

//Cas particulier de la fleche des menus
header a {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 20px;

    i {
        line-height: 62px !important; //Hauteur du header pour centrage vertical
    }
}