.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: white;
    z-index: 200; //Pour être sur d'être au premier plan
    animation-delay: 3s;
    animation-name: ohmyfood-loader-fadeout;
    animation-duration: 0.75s;
    animation-fill-mode: forwards; //Conserve l'etat en fin d'animation
}



.ohmyfood-loader {
    $border-color: map-get($theme-colors, "secondary");
    width: 200px;
    height: 200px;
    position: absolute; //Force la bordure a être sur le rond
    top: calc(50% - 100px);
    right: calc(50% - 100px);
    background-color: map-get($theme-colors, "primary-lighten");
    box-shadow: 0 2px 20px rgba(0, 0, 0, .2);
    border-radius: 50%; //Fait un cercle
    animation: 1s ohmyfood-loader-fadein;

    .ohmyfood-loader-inner {
        animation: 1s ohmyfood-loader-spin cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
        //On place la div sur le conteneur
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        //Bordure droite + gauche colorés le reste invisible
        border: 3px solid transparent;
        border-right-color: $border-color;
        border-left-color: $border-color;
        border-radius: inherit //On arrondis les bordures comme le parent
    }

    //Contenu
    &:after {
        //Adapte au parent
        display: block;
        height: 100%;
        line-height: 200px; //Hauteur du parent
        //Contient le fontawesome
        font-family: "Font Awesome 5 Free";
        font-weight: 900; //Font awesome fas 
        content: '\f2e7';
        text-align: center; //Aligne au centre
        color: map-get($theme-colors, "primary");
        font-size: 70px;
        animation: 2s ohmyfood-loader-icon infinite;
    }
}

//Animatyion de l'icone
@keyframes ohmyfood-loader-icon {

    0% {
        transform: rotate(0);
    }

    45% {
        transform: rotate(-13deg);
    }

    55% {
        transform: rotate(6deg);
    }

    65% {
        transform: rotate(-3deg);
    }

    75% {
        transform: rotate(3deg);
    }

    80% {
        transform: rotate(-2deg);
    }

    100% {
        transform: rotate(0deg);
    }

}

//Animation de rotation des bordures
@keyframes ohmyfood-loader-spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

//Animation Fondu
@keyframes ohmyfood-loader-fadeout {
    0% {
        opacity: 1;
    }

    100% {
        visibility: hidden;
        z-index: -1;
        opacity: 0;
    }
}