@use "sass:map";

#restaurants {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    h2 {
        margin-top: 30px;
        margin-bottom: 20px;
        flex-basis: 100%; //Toute la largeur
    }

    a {
        margin: 8px;
        width: 335px;
        height: 250px;
        position: relative;

        i.badge-new {
            width: 81px;
            height: 29px;
            line-height: 29px; //Centre automatiquement le texte
            background-color: map-get($theme-colors, "tertiary");
            color: map-get($theme-colors, "tertiary-darken");
            //Placement en rapport a la carte
            position: absolute;
            top: 12.5px;
            right: 12.5px;
            text-align: center;
            border-radius: 2px;
            font-weight: bold;
            font-style: normal;

            &:after {
                content: "Nouveau";
            }
        }
    }

}

//Correspond à chacune des cartes (image+badge)
#restaurants a figure {
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
    position: relative;

    img {
        display: block;
        min-width: 100%; //Toute la largeur, pour conserver le cover utiliser min-width
        height: 68%;
        border-top-right-radius: inherit;
        border-top-left-radius: inherit;
    }
}

//Bloc texte + coeur
#restaurants a figure figcaption {
    cursor: default;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 32%;
    position: relative;

    p {
        margin-bottom: 5px;
    }
}