$fa-font-path: '../../dist/fonts/';
@import '../../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '../../../../node_modules/@fortawesome/fontawesome-free/scss/solid';

$theme-colors: ("primary": #9356DC,
    "primary-lighten":#F5EDFF,
    "primary-lighten-2":#a370e1,
    "secondary": #FF79DA,
    "secondary-lighten":#ff8edf,
    "tertiary": #99E2D0,
    "tertiary-darken": #008766, //Used for text color
    "light":#f6f6f6, //Couleur de background
    "light-darken":#eaeaea,
    "dark":#353535, //Footer bg-color
);
//Breakpoint
$sm:481px; //Ipad
$md:769px; //Small screen
$lg:1201px; //Desktop
$xl:1920px; //Very large desktop (2k+)

//Definition des tailles
$footer-height:200px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    //border: 1px solid black;
    background-color: map-get($theme-colors, "light");
    //max-width: 1920px;
    margin: auto;
    position: relative; //Base la position du contenu sur sa taille
}

html,
body {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden; //Pas de scroll sur x
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

img {
    object-fit: cover;
    max-width: 300px;
}

p {
    font-size: 17px;
    font-weight: 900;
}

span {
    font-size: 14px;
    color: map-get($theme-colors, "dark");
}

/*Disable a text-decoration by default*/
a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-size: 28px;
    line-height: 28px; //Fixe la hauteur a celle de la police (Permet d'eviter les fausses marges)
    font-weight: normal;
}

h2 {
    font-size: 16px;
    line-height: 16px;
    font-weight: normal;
}

.title {
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
}

//Responsive ecran tres tres larges
@media (min-width: $xl) {
    h1 {
        font-size: 32px;
        line-height: 32px; //Fixe la hauteur a celle de la police (Permet d'eviter les fausses marges)
    }

    h2,
    p {
        font-size: 18px;
    }

    span {
        font-size: 16px;
    }
}