$duree_animation_like_button:0.75s;

//Bouton en forme de coeur pour aimer
.like-button {
    @extend %fa-icon;
    @extend .fas;

    &::before {
        content: fa-content($fa-var-heart); //Fa-heart
    }

    //Modification curseur et evenet
    cursor: pointer;
    font-size: 24px;
    background-image: linear-gradient(to top left, map-get($theme-colors, "primary"), map-get($theme-colors, "secondary"));
    position: absolute;
    top: 0;
    line-height: 80px; //Hauteur du figcaption
    right: 15px; //15px de la bordure droite

    //Adapte le bg a la forme de l'icone
    //background-clip: text;
    -webkit-background-clip: text;
    color: transparent; //Icone transparente
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black; //2px le long de l'icone


    //Coeur outline qui superpose le coeur radiant
    &::after {
        content: fa-content($fa-var-heart); //Fa-heart
        background-color: white; //Pseudo-invisible
        height: 100%; //Affiché par défaut
        //On place au dessus de l'autre coeur
        position: absolute;
        top: 0;
        right: 0;
        transition: height $duree_animation_like_button; //0.5s d'animation
        //Adapte le bg a la forme de l'icone
        //background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; //MAsque tout ce qui deborde de l'icone

    }

    //Au survol et quand activé
    &:hover,
    &.checked {
        &::after {
            height: 0%; //On masque l'element du dessus
        }

        &::before {
            height: 100%;
        }
    }

    //Animation popup si checké
    &.checked {
        animation: popup 0.5s; //Animation lorsue clické

    }
}

//Boutons
button,
.btn {
    display: block;
    cursor: pointer;
    font-weight: bold;
    margin: 10px;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 50px;
    border: 0px solid transparent;
    outline: none;
    font-size: 16px;
    color: white;
    background: linear-gradient(map-get($theme-colors, "secondary"), map-get($theme-colors, "primary"));
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.32);

    &:hover {
        background: linear-gradient(map-get($theme-colors, "secondary-lighten"), map-get($theme-colors, "primary-lighten-2"));
        box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.4);

    }
}

//Animations
@keyframes popup {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.4);
    }

    100% {
        transform: scale(1);
    }
}