@use "sass:map";
@import './app.scss';

@import "components/localisation";
@import "components/description";
@import "components/fonctionnement";
@import "components/restaurants";

//Responsive
@media (min-width: $lg) {

    #description,
    #fonctionnement,
    #restaurants {
        max-width: 1280px;
        margin: auto;
    }

    #fonctionnement {
        border-radius: 15px;
        box-shadow: 0 0px 10px rgba(0, 0, 0, .05);
    }
}